* {
  margin: 0;
  padding: 0;
}

:root {
    /*Dark mood*/
  /*Background*/
  --color-bg: hsl(240, 6%, 5%);
  --color-secondary: hsla(210, 24%, 10%, 0.572);
  --color-tertiary: hsla(240, 8%, 5%, 0.25);

  /*Text*/
  --color-text: hsl(0, 0%, 98%);
  --color-text-desc: hsl(0, 0%, 70%);
  --color-text-dim: hsl(0, 0%, 50%);

  /*Border & Divider*/
  --color-border: hsl(212, 45%, 23.5%);
  --color-border-subtle: hsl(212, 45%, 23.5%);

  /*Accent*/
  --color-accent: #14929b;
  --color-accent-hover: hsl(184, 77.1%, 30%);

  /*State Colors*/
  --color-success: hsl(120, 100%, 40%);
  --color-error: hsl(0, 100%, 50%);
  --color-warning: hsl(60, 100%, 50%);
  --color-info: hsl(200, 100%, 50%);

  /*Overlays*/
  --color-overlay: hsla(240, 6%, 5%, 0.7);

  /*Shadows*/
  --shadow-low: 0 2px 6px hsla(0, 0, 0, 0.5);
  --shadow-medium: 0 4px 12px hsla(0, 0, 0, 0.6);
  --shadow-high: 0 8px 24px hsla(0, 0, 0, 0.7);

  /*Interatcive */
  --color-hover: hsla(200, 75%, 23%, 0.853);
  --color-active: hsl(212, 45%, 23.5%);
  --color-focus-ring: hsl(184, 77.1%, 34.3%);
}

html.light {
  --color-bg: hsl(0, 0%, 98%);
  --color-secondary: hsla(0, 0%, 94%, 0.284);
  --color-tertiary: hsl(0, 0%, 90%);

  --color-text: hsl(240, 10%, 10%);
  --color-text-desc: hsl(240, 5%, 40%);
  --color-border: hsl(240, 10%, 80%);

  --color-accent: hsl(200, 90%, 45%);
  --color-hover: hsl(198, 42%, 51%);
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: var(--color-bg);
  color: var(--color-text);
  position: relative;
  
}

html {
  overflow-x: hidden;
}

.nav {
  background-color: var(--color-tertiary);
  height: 10vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  
}

.icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
  border: 1px solid var(--color-border-subtle);
}

i{
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid var(--color-border);
}

i:hover{
  background-color: var(--color-border);
}

.icon:hover {
  background-color: var(--color-hover);
}

.container {
  width: 100%;
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20vh;
  margin: 0 auto;
}


.inputBox {
  display: flex;
  position: relative;
  background-color: var(--color-secondary);
  border: 1px solid var(--color-border);
  margin-top: 28px;
  width: 50vw;
  border-radius: 10px;
  min-height: fit-content;
  box-shadow: 
    0 0 15px rgba(2, 132, 199, 0.4),  /* Sky-600 */
    0 0 40px rgba(8, 145, 174, 0.3),  
    0 0 80px rgba(87, 83, 78, 0.2);
}

.inputBox textarea {
  background: transparent;
  flex: 1;
  border-radius: 10px;
  border: 0;
  padding: 10px 15px;
  padding-bottom: 0;
  outline: 0;
  height: 100%;
  min-height: 20vh;
}

.inputBox .sendIcon {
  position: absolute;
  right: 2%;
  bottom: 4%;
  cursor: pointer;
}

.preview {
  background-color: var(--color-secondary);
  width: 60vw;
  height: 60vh;
  margin-top: 30px;
  margin-bottom: 40px;
  border-radius: 15px;
  box-shadow: 
    0 0 15px rgba(2, 132, 199, 0.4),  /* Sky-600 */
    0 0 40px rgba(8, 145, 174, 0.3),  
    0 0 80px rgba(87, 83, 78, 0.2);
}

.preview .header {
  background-color: var(--color-tertiary);
  height: 70px;
  width: 100%;
  border-radius: 15px 15px 0 0;
  padding: 0px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.preview .content{
  padding: 15px;

}
